.custom-input {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0; 
    padding: 15px;
  }
  

  .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight:bolder;
  letter-spacing: -.5px;
  
  
}

.custom-input input:focus {
    border-color: #ffffff; /* Change border color on focus */
    outline: 0; /* Remove default focus outline */
    box-shadow: none; /* Remove focus box-shadow */
  }