.custom-card-img {
    width:270px; /* Customize the width as needed */
    height: 270px; /* Customize the height as needed */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
}



.font-style {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn-custom {
    background-color: #ec052f;
    color: #fff; /* Set text color to white */
    border-color: #f20934; /* Set border color to match background color */
}

.btn-custom:hover {
    background-color: #C30024; /* Change background color on hover */
    border-color: #C30024; /* Change border color on hover */
}