@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Darker+Grotesque:wght@300..900&family=Fredoka:wght@300..700&display=swap');

.font-style {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
  }
  

.responsive-text {
    font-size: 42px; /* Default font size */
}
.heading-txt{
    margin: 20px 0 20px;
}
.text-shadow {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3); /* Add a shadow to the text */
}
.category-txt{
    font-size: 28px;
    font-weight: 600;
}


/* Adjust font size for smaller screens */
@media (max-width: 768px) {
    .responsive-text {
        font-size: 30px; /* Font size for screens up to 768px */
    }
    .heading-txt{
        margin: 10px 0 10px;
    }
    .category-txt{
        font-size: 20px;
        font-weight: 500;
    }
}

/* Adjust font size for even smaller screens */
@media (max-width: 576px) {
    .responsive-text {
        font-size: 20px; /* Font size for screens up to 576px */
    }
    .heading-txt{
        margin: 10px 0 10px;
    }
    .text-shadow {
        text-shadow: .5px 1px 1px rgba(0, 0, 0, 0.2); /* Add a shadow to the text */
    }
    .category-txt{
        font-size: 18px;
        font-weight: 600;
    }
    
}